!!!
%html
  %head
    %title Sinatra App
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}
  %body
    = @content
    %a{:href => '#'} Not special

    .special
      %a{:href => '#'} Special

